<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="products">
<!--        <%= prodData %>-->
         <% for(let prod of prodData){ %>
            <div class="product">
                <label><%=prod.name%></label>
              
                <% if(locals.signedIn) { %>
                    <form method="POST" class="float-right" action="/CMS/deleteProduct/<%= prod._id %>?_method=DELETE">
                      <button class="btn-danger float-right"> x </button>
                    </form>
                    <a href="/CMS/editProduct/<%= prod._id %>" class="btn-primary float-right p-1" style="font-size: 11.87px; text-decoration:none">Edit</a>      
                <% } %>
              
                <div class="imgContainer">
                  <img src="<%=prod.imgPath%>" class="pic" border="0"/>
                </div>
              
                <label>Price: $<%=(prod.price).toFixed(2)%></label>

                <div class="descContainer">
                    <p><%=prod.desc%></p>
                </div>
              
                <button class="btn btn-success" onclick="addToCart('<%= prod._id %>', `<%= prod.name %>`, <%= prod.price %>)">Add to Cart</button>
            </div>
            
         <% }%>
      </div><br/>
    </main>
    
    <script>
      
      function addToCart(id, name, price) {
        const cart = JSON.parse(localStorage.getItem('cart'));
        
        if(cart) {
          // If the cart already exists, add the new ID to it
          for(let i = 0; i < cart.length; i++) {
            if(cart[i].id === id) {
              cart[i].count++;
              localStorage.setItem('cart', JSON.stringify(cart));
              return; // If we found the item, break out the function
            }
          }
          // If we haven't found it, add it as a new item
          cart.push({ id, count: 1, name, price });
          localStorage.setItem('cart', JSON.stringify(cart));
        } else {
          // If the cart does not exist, create a new one and store it in localStorage
          localStorage.setItem('cart', JSON.stringify([{ id, count: 1, name, price }]));
        }
        
      }
    </script>
    <% include partials/footer %>

  </body>
</html>
